* {
    margin: 0;
    border: 0;
}

.terminal {
    background: #202020;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    height: 525px;
    width: 840px;
}

.terminal_header {
    align-items: center;    
    background: #57524E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: space-between;
}

.terminal_logo {
    margin: 10px;
}

.terminal_name {
    font-weight: 700;
}

.terminal_controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.terminal_close {
    align-items: center;
    background-color: red;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-weight: 600;
    height: 20px;
    justify-content: center;
    margin-right: 10px;
    padding: 3px;
    width: 20px;
}

.terminal_min {
    border-bottom: 1px solid #fff;
    width: 15px;
}

.terminal_big {
    border: 1px solid #fff;
    height: 15px;
    width: 15px;
}

.line {
    display: flex;
    border-right: 0.5em solid #fff;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    .typer {
        margin-left: 10px;
    }
}

.line1 {
    margin-top: 10px;
}

// type writer animation
.line1 {
    animation: typewritter 5s steps(45, end) normal forwards, cursor 3s steps(10) forwards;
    width: 165px;
}

.line2 {
    animation: typewritter 5s steps(45, end) normal forwards 5s, cursor 3s steps(10) forwards 5s;
    width: 165px;
}

.line3 {
    animation: typewritter 5s steps(45, end) normal forwards 10s, cursor 3s steps(10) forwards 10s;
    width: 165px;
}

.line4 {
    animation: typewritter 5s steps(45, end) normal forwards 15s, cursor 3s steps(10) forwards 15s;
    width: 165px;
}

.line5 {
    animation: typewritter 5s steps(45, end) normal forwards 20s, cursor 3s steps(10) forwards 20s;
    width: 165px;
}


@keyframes typewritter {
    from { width: 165px; }
    to { width: 100%; }
}

@keyframes cursor {
    0% {border-right-color: #fff;}
    99% {border-right-color: #fff;}
    100% {border-right-color: transparent;}
}
