.bash {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 13px;
}

.bash_name {
    color: #15b315;
}

.bash_line {
    color: #1d6bdf;
}

@media screen and (max-width: 767px) {
    .bash {
        display: none;
    }
}
