.blog__container {
    @include container;

    margin-bottom: 6rem;

    @include tablet-portrait {
        margin-bottom: 3rem;
    }
}

.hashnode__title {
    @include title;
}

.hashnode__posts {
    gap: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;

    @include tablet-portrait {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
    }
}

// cards
.card__container--post {
    border: 1px solid var(--portfolio-white);
    border-radius: 12px;
    box-shadow: 0 0 1rem var(--portfolio-bg);
    background-color: var(--portfolio-bg);
    display: flex;
    flex-direction: column;
    height: max-content;
    opacity: .7;
    padding-bottom: 20px;
    width: 270px;

    @include tablet-portrait {
        height: 370px;
    }

    @include tablet-landscape {
        height: 400px;
        width: 400px;
    }
}

.card__link--post {
    color: var(--portfolio-white);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-decoration: none;

    @include tablet-landscape {
        font-size: 1.4rem;
    }
}

.card__img--post {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: fit-content;
    width: 270px;

    @include tablet-portrait {
        height: 130px;
    }

    @include tablet-landscape {
        height: 200px;
        width: 400px;
    }
}

.card__img--post:hover {
    border-bottom: 1px solid var(--portfolio-white);
    transition: .3s all;
}

.card__container--post h3 {
    text-align: center;
    font-size: 20px;
}

.card__time {
    align-self: flex-end;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 12px;
    margin-top: 8px;
}

.card__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.post__brief {
    flex: 1;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 12px;
}

.post__button {
    background-color: var(--portfolio-bg);
    border: 1px solid var(--portfolio-white);
    border-radius: 12px;
    color: var(--portfolio-white);
    display: flex;
    font-weight: 600;
    justify-self: flex-end;
    margin: 8px auto;
    padding: 12px 16px;
}

.post__button:hover {
    box-shadow: -4px -4px 8px -5px var(--portfolio-white);
    transition: all .2s;
}
