.home__container {
  @include container;
}

.home__intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mobile-landscape {
    line-height: 3rem;
  }

  @include tablet-portrait{
    line-height: 5rem;
  }
}

.home__intro p {
  @include mobile-landscape {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

.home__title {
  font-size: 3rem;

  @include mobile-landscape {
    font-size: 6rem;
  }
}

.home__subtitle {
  color: var(--portfolio-terminal-green);
  font-size: 3rem;
  font: 800 40px Arial;
  text-transform: capitalize;
  white-space: pre-wrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;

  @include mobile-landscape {
    font: 800 60px Arial;
    font-size: 6rem;
    line-height: 6rem;
    margin-top: .4rem;
  }

  @include tablet-portrait {
    white-space: nowrap;
  }
}

.home__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 36px;

  @include mobile-landscape {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  @include tablet-portrait {
    display: flex;
    gap: 24px;
  }
}

.home__link {
  align-items: center;
  border: 1px solid var(--portfolio-white);
  border-radius: 8px;
  color: var(--portfolio-white);
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  text-decoration: none;
  width: 5rem;

  @include mobile-landscape {
    margin: 12px 40px;
  }

  @include tablet-portrait {
    gap: 24px;
    margin: 0;
  }
}

.home__link:hover {
  box-shadow: -4px -4px 8px -2px var(--portfolio-terminal-green);
  transition-duration: all .5s;
}

.link__slug {
  margin-top: 8px;
}
