.home__container {
  @include container;
}

.home__intro {
  align-items: center;
  display: flex;
  width: 400px;
  flex-direction: column;
  text-align: center;
}

.home__title {
  font-size: 3rem;

  @include mobile-landscape {
    font-size: 5rem;
  }
}

.home__subtitle {
  color: var(--portfolio-terminal-green);
  font-size: 3rem;
  font: 800 40px Arial;
  text-transform: capitalize;
  white-space: pre-wrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;

  @include mobile-landscape {
    font: 800 60px Arial;
    font-size: 4rem;
  }

  @include tablet-portrait {
    white-space: nowrap;
  }
}

.home__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 48px;
}

.home__link {
  align-items: center;
  color: var(--portfolio-terminal-green);
  display: flex;
  flex-direction: column;
  margin-inline: 16px;
  text-decoration: none;
}

.home__link:hover {
  color: var(--portfolio-white);
  transition-duration: .5s;
}

.link__slug {
  margin-top: 8px;
}
