.resume_container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    background-color: var(--portfolio-bg);
    border-top: 1px solid var(--portfolio-white);
}

.resume_link {
    align-items: center;
    color: var(--portfolio-bg);
    background-color: var(--portfolio-terminal-green);
    border: 1px solid var(--portfolio-terminal-green);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 150px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    width: 250px;
}

.resume_link:hover {
    color: var(--portfolio-terminal-green);
    background-color: var(--portfolio-bg);
    transition: .5s;
}
