.work_container {
    align-items: center;
    background-color: var(--portfolio-bg);
    color: var(--portfolio-white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin: 36px auto;

    @include tablet-portrait {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        min-height: calc(100vh - 160px);
        width: fit-content;
    }
}
