.work_container {
    @include container;

    gap: 24px;
    justify-content: center;
    margin: 36px auto;

    @include tablet-portrait {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5rem auto;
        margin-bottom: calc(100px + 5rem);
        width: fit-content;
    }
}
