.work_container {
    @include container;

    gap: 24px;
    justify-content: center;
    margin: 2rem auto;

    @include tablet-portrait {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
    }
}
