.bash {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 13px;
}

.bash_name {
    color: var(--portfolio-terminal-green);
}

.bash_line {
    color: var(--portfolio-terminal-blue);
}

@media screen and (max-width: 767px) {
    .bash {
        display: none;
    }
}
