.footer {
    align-items: center;
    background-color: var(--portfolio-bg);
    border-top: 1px solid var(--portfolio-white);
    color: var(--portfolio-white);
    display: flex;
    height: 100px;
    justify-content: center;

    @include tablet-portrait {
        position: fixed;
        margin: auto;
        width: 100%;
    }
}

.footer_item {
    align-items: center;
    border-radius: 8px;
    color: var(--portfolio-terminal-green);
    justify-content: center;
    margin: 12px;
    padding: 12px;
    text-decoration: none;
}

.footer_item:hover {
    border: 1px solid var(--portfolio-terminal-green);
    transition-duration: 2s;
}
