.navbar__container {
    background-color: var(--portfolio-bg);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar {
    border-bottom: 1px solid var(--portfolio-white);
    justify-content: space-between;
    display: flex;

    @include tablet-portrait {
        margin-left: 20%;
        width: 60%;
    }
}

.navbar .active {
    background-color: inherit;
}

.nav_list {
    align-items: center;
    background-color: var(--portfolio-bg);
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    height: 100vh;
    justify-content: center;
    position: absolute;
    transform: translateX(-100%);
    top: 60px;
    width: 100%;
    z-index: 10;

    @include tablet-portrait {
        background-color: var(--portfolio-bg);
        flex-direction: row;
        font-size: 1em;
        gap: 2%;
        height: fit-content;
        justify-content: flex-end;
        position: static;
        transform: translateX(0);
        width: fit-content;
    }
}

.nav_list.open {
    transform: translateX(0);
    border-top: 1px solid var(--portfolio-terminal-green);
    position: fixed;

    @include tablet-portrait {
        transform: none;
        border: none;
        position: static;    
    }
}

.nav_item {
    color: var(--portfolio-white);
    font-weight: 600;
    padding: 16px 16px 4px;
    text-decoration: none;
}

.nav_item:hover {
    border-bottom: 1px dotted;
    transition: .5s;
}

.navbar .active {
    color: var(--portfolio-terminal-green);
    transition: 2s;
}

.nav_title {
    border-top: 1px solid var(--portfolio-white);
    border-left: 1px solid var(--portfolio-white);
    border-radius: 4px;
    margin: -8px;
    width: 60px;
}

.nav_title:hover {
    border: 0;
    transition: .5s;
}

.nav_toggle {
    display: flex;
    margin: 16px;

    @include tablet-portrait {
        display: none;
    }
}
