.navbar {
    background-color: var(--portfolio-bg);
    border-bottom: 1px solid var(--portfolio-white);
    justify-content: space-between;
    display: flex;
    height: 60px;
    margin: auto;
    width: 100%;

    @include tablet-portrait {
        width: 65%;
    }
}

.navbar .active {
    background-color: inherit;
}

.nav_list {
    align-items: center;
    background-color: var(--portfolio-terminal-header);
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    height: 100vh;
    justify-content: center;
    position: absolute;
    transform: translateX(-100%);
    top: 60px;
    width: 100%;
    z-index: 10;

    @include tablet-portrait {
        background-color: var(--portfolio-bg);
        flex-direction: row;
        gap: 2%;
        height: fit-content;
        justify-content: flex-end;
        position: static;
        transform: translateX(0);
        font-size: 1em;
    }
}

.nav_list.open {
    transform: translateX(0);
}

.nav_item {
    color: var(--portfolio-white);
    font-weight: 600;
    padding: 16px;
    text-decoration: none;
}

.navbar .active {
    color: var(--portfolio-terminal-green);
    transition: 2s;
}

.nav_link {
    text-decoration: none;
}

.nav_title {
    color: var(--portfolio-terminal-green);
    margin: 12px;
    width: max-content;
}

.nav_title:hover {
    text-decoration: underline;
}

.nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 16px;

    span {
        background: var(--portfolio-white);
        border-radius: 4px;
        height: 4px;
        margin-bottom: 6px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
        width: 30px;
    }

    @include tablet-portrait {
        display: none;
    }
}

.nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
}

.nav_toggle.open > span:nth-child(2) {
    display: none;
}

.nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 2px);
}
