.terminal {
    background: var(--portfolio-terminal-bg);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    height: 50%;
    margin-inline: 1rem;
    width: 100%;

    @include tablet-portrait {
        width: 80%;
    }

    @include tablet-landscape {
        width: 70%;
    }

    @include desktop {
        width: 60%;
    }

    @include large-desktop {
        width: 50rem;
    }
}

.terminal_header {
    align-items: center;    
    background: var(--portfolio-terminal-header);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--portfolio-white);
    display: flex;
    font-size: 16px;
    height: 50px;
}

.terminal_logo {
    display: none;

    @include tablet-portrait {
        display: flex;
        margin: 10px;
    }
}

.terminal_name {
    margin: auto;

    @include tablet-portrait {
        font-weight: 700;
        padding-right: 1rem;
    }

}

.terminal_body {
    padding: 4px 16px 32px 0px;
}


.line {
    display: flex;
    margin: 12px 0;
    margin-left: 8px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    width: 190px;
    animation: typing 3.5s steps(40, end) normal forwards, cursor 3.5s step-end;

    .typer {
        margin-left: 5px;
    }

    @include mobile-landscape {
        font-size: 16px;
        line-height: 20px;
    }

    @include desktop {
        font-size: 20px;
        line-height: 24px;    
    }
}

// type writer animation delay
.line2 {
    animation-delay: 4s;
}

.line3 {
    animation-delay: 8s;
}

.line4 {
    animation-delay: 12s;
}

.line5 {
    animation-delay: 16s;
}

.line6 {
    animation-delay: 20s;
}

.line7 {
    animation-delay: 24s;
}

.line8 {
    animation-delay: 28s;
}


/* The typing effect */
@keyframes typing {
    from { width: 200px }
    to { width: 100% }
}

@keyframes cursor {
    0% {border-right-color: transparent;}
    1% {border-right: 0.5em solid var(--portfolio-white);}
    99% {border-right: 0.5em solid var(--portfolio-white);}
    100% {border-right-color: transparent;}
}

@media screen and (max-width: 1024px) {
    .line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8 {
        width: 0;
    }

    @keyframes typing {
        from { width: 0px; }
        to { width: 100%; }
    }
}
