.terminal {
    background: var(--portfolio-terminal-bg);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    height: 325px;
    width: 500px;
}

.terminal_header {
    align-items: center;    
    background: var(--portfolio-terminal-header);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--portfolio-white);
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: space-between;
}

.terminal_logo {
    margin: 10px;
}

.terminal_name {
    font-weight: 700;
}

.terminal_close {
    align-items: center;
    background-color: var(--portfolio-red);
    border-radius: 50px;
    color: var(--portfolio-white);
    display: flex;
    font-weight: 600;
    height: 20px;
    justify-content: center;
    margin-right: 10px;
    padding: 3px;
    width: 20px;
}

.line {
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    width: 120px;

    .typer {
        margin-left: 5px;
    }
}

// type writer animation
.line1 {
    margin-top: 10px;
    animation: typewritter 2s steps(20, end) normal forwards, cursor 2s steps(20) forwards;
}

.line2 {
    animation: typewritter 2s steps(20, end) normal forwards 2s, cursor 2s steps(20) forwards 2s;
}

.line3 {
    animation: typewritter 2s steps(20, end) normal forwards 4s, cursor 2s steps(20) forwards 4s;
}

.line4 {
    animation: typewritter 2s steps(20, end) normal forwards 6s, cursor 2s steps(20) forwards 6s;
}

.line5 {
    animation: typewritter 2s steps(20, end) normal forwards 8s, cursor 2s steps(20) forwards 8s;
}

.line6 {
    animation: typewritter 2s steps(20, end) normal forwards 10s, cursor 2s steps(20) forwards 10s;
}

.line7 {
    animation: typewritter 2s steps(20, end) normal forwards 12s, cursor 2s steps(20) forwards 12s;
}

.line8 {
    animation: typewritter 2s steps(20, end) normal forwards 14s, cursor 2s steps(20) forwards 14s;
}

.link_contact {
    text-decoration: none;
    color: var(--portfolio-terminal-green);
}

.link_contact:hover {
    color: var(--portfolio-terminal-green);
    font-weight: 700;
    text-decoration: underline;
    transition: .5s;
}


@keyframes typewritter {
    to { width: 450px; }
}

@keyframes cursor {
    0% {border-right-color: transparent;}
    1% {border-right: 0.5em solid var(--portfolio-white);}
    99% {border-right: 0.5em solid var(--portfolio-white);}
    100% {border-right-color: transparent;}
}

/* responsive */
@media screen and (max-width: 767px) {
    .line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8 {
        width: 0;
    }

    @keyframes typewritter {
        from { width: 0; }
        to { width: 100%; }
    }
    .terminal {
        height: 425px;
        width: 320px;
    }

    .terminal_header {
        justify-content: center
    }

    .terminal_controls {
        display: none;
    }

    .terminal_logo {
        display: none;
    }
}
