.terminal {
    background: var(--portfolio-terminal-bg);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.5);
    height: 50%;
    margin-inline: 1rem;
    width: 80%;

    @include tablet-portrait {
        width: 80%;
    }

    @include tablet-landscape {
        width: 70%;
    }

    @include desktop {
        width: 60%;
    }

    @include large-desktop {
        width: 50rem;
    }
}

.terminal_header {
    align-items: center;    
    background: var(--portfolio-terminal-header);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--portfolio-white);
    display: flex;
    font-size: 16px;
    height: 50px;
}

.terminal_logo {
    display: none;

    @include tablet-portrait {
        display: flex;
        margin: 10px;
    }
}

.terminal_name {
    margin: auto;

    @include tablet-portrait {
        font-weight: 700;
        padding-right: 1rem;
    }

}

.terminal_body {
    padding: 4px 16px 32px 0px;
}

$animation-delay-increment: 3.5s;
.line {
    display: flex;
    margin: 12px 0;
    margin-left: 8px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3.5s steps(40, end) normal forwards, cursor 3.5s step-end;

    @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: $i * $animation-delay-increment;
        }
    }

    @include tablet-portrait {
        font-size: 16px;
        line-height: 20px;
    }

    @include desktop {
        font-size: 20px;
        line-height: 24px;    
    }
}

.typer {
    margin-left: 8px;
}

/* The typing effect */
@keyframes typing {
    from { width: 8px }
    to { width: 100% }
}

@keyframes cursor {
    0% {border-right-color: transparent;}
    1% {border-right: 0.5em solid var(--portfolio-white);}
    99% {border-right: 0.5em solid var(--portfolio-white);}
    100% {border-right-color: transparent;}
}
