.card_container {
    align-items: center;
    border: 1px solid var(--portfolio-terminal-green);
    border-radius: 12px;
    box-shadow: 0 0 1rem var(--portfolio-bg);
    background-color: var(--portfolio-bg);
    display: flex;
    flex-direction: column;
    height: max-content;
    opacity: .7;
    padding-bottom: 20px;
    width: 270px;

    h2 {
        margin-top: 16px;
    }

    @include tablet-landscape {
        height: 430px;
        width: 400px;
    }
}

.card_img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 230px;
    width: 270px;

    @include tablet-landscape {
        width: 400px;
    }
}

.card_description {
    margin: 16px;
}

.card_icons {
    display: flex;
    justify-content: center;
    gap: 20px;

    .icon {
        margin-right: 5px;
    }
}

.card_link {
    align-items: center;
    color: var(--portfolio-white);
    display: flex;
    justify-content: space-between;
    transition: .5s;
}

.card_link:hover {
    color: var(--portfolio-terminal-green);
    text-decoration: none;
}
