.card_container {
    align-items: center;
    border: 1px solid var(--portfolio-white);
    border-radius: 12px;
    box-shadow: 0 0 1rem var(--portfolio-bg);
    background-color: var(--portfolio-bg);
    display: grid;
    flex-direction: column;
    height: max-content;
    opacity: .7;
    padding-bottom: 20px;
    width: 270px;

    @include tablet-landscape {
        height: 460px;
        width: 400px;
    }
}

.card__title {
    text-align: center;
    margin-block: 12px;
}

.card_img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 170px;
    width: 270px;

    @include tablet-landscape {
        height: 230px;
        width: 400px;
    }
}

.card_img:hover {
    border-bottom: 1px solid var(--portfolio-white);
    transition: .3s all;
}

.card_description {
    margin: 4px 16px;
    margin-bottom: 20px;
    height: 180px;

    @include tablet-landscape {
        height: 130px;
    }
}

.card_icons {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 20px;

    .icon {
        margin-right: 5px;
    }
}

.card_link {
    align-items: center;
    color: var(--portfolio-white);
    display: flex;
    justify-content: space-between;
    transition: all .2s;
}

.card_link:hover {
    color: var(--portfolio-terminal-green);
    text-decoration: none;
    transition: all .2s;
}
