* {
    margin: 0;
    border: 0;
}

.work_container {
    align-items: center;
    display: flex;
    justify-content: center;
    section {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .work_container section {
        display: flex;
        flex-direction: column;
    }
}

