* {
    margin: 0;
    border: 0;
}

.work_container {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    section {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .work_container section {
        display: flex;
        flex-direction: column;
    }
}

